<?xml version='1.0' encoding='windows-1252'?>
<!--
  Copyright (C) 2017 Christopher R. Field.

  Licensed under the Apache License, Version 2.0 (the 'License');
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an 'AS IS' BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<!--
  Please do not remove these pre-processor If-Else blocks. These are used with
  the `cargo wix` subcommand to automatically determine the installation
  destination for 32-bit versus 64-bit installers. Removal of these lines will
  cause installation errors.
-->
<?if $(var.Platform) = x64 ?>
<?define Win64 = 'yes' ?>
<?define PlatformProgramFilesFolder = 'ProgramFiles64Folder' ?>
<?else ?>
<?define Win64 = 'no' ?>
<?define PlatformProgramFilesFolder = 'ProgramFilesFolder' ?>
<?endif ?>

<Wix xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product
            Id='*'
            Name='Stevedore'
            UpgradeCode='9A68EC9C-B494-4CDD-B081-F074FE91BF0B'
            Manufacturer='Marat Radchenko'
            Language='1033'
            Codepage='1252'
            Version='$(var.Version)'>

        <Package Id='*'
                 Keywords='Installer'
                 Description='Docker distribution for Windows that Just Works'
                 Manufacturer='Marat Radchenko'
                 InstallerVersion='500'
                 Languages='1033'
                 Compressed='yes'
                 InstallScope='perMachine'
                 SummaryCodepage='1252'
                 Platform='$(var.Platform)'/>

        <MajorUpgrade
                AllowSameVersionUpgrades='yes'
                Schedule='afterInstallInitialize'
                DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.'/>

        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1'/>
        <Property Id='DiskPrompt' Value='Stevedore Installation'/>

        <Property Id='SERVICENAME' Value='stevedore'/>

        <Property Id="DISABLEADVTSHORTCUTS" Value="1"/>

        <util:Group Id="DockerGroup" Name="docker-users"/>

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Merge Id='VCRedist'
                   SourceFile='target/$(var.Profile)/vcredist.msm'
                   DiskId='1'
                   Language='0'/>

            <Directory Id='$(var.PlatformProgramFilesFolder)' Name='PFiles'>
                <Directory Id='INSTALLDIR' Name='Stevedore'>
                    <Component Id='License' Guid='eddd457c-28be-4d34-9c84-acd6e15a92a0' Win64='$(var.Win64)'>
                        <File Source='wix\License.rtf'/>
                    </Component>

                    <Component Id='dockerd_Comp' Guid='7adbeefe-d5cb-4977-aba0-8f6869c0da87' Win64='$(var.Win64)'>
                        <!--
                            TODO: consider fixing WiX or replacing this with custom code
                            Already encountered issues:
                            1. WiX cannot create a group (so we do it by hand with Powershell)
                            2. WiX doesn't properly handle special accounts like SYSTEM (so we have Vital=no)
                            3. WiX tries to DELETE user if it couldn't determine whether user exists.
                               This is not an issue for SYSTEM (you can't delete what doesn't exists),
                               but sounds very dangerous in general case.
                               See https://github.com/wixtoolset/wix3/blob/wix3112rtm/src/ext/ca/serverca/scasched/scauser.cpp#L556
                            -->
                        <util:User
                                Id="DockerUser"
                                Domain="[%USERDOMAIN]"
                                Name="[%USERNAME]"
                                CreateUser="no"
                                RemoveOnUninstall="no"
                                Vital="no">
                            <util:GroupRef Id="DockerGroup"/>
                        </util:User>
                        <File Source='target\$(var.Profile)\dockerd.exe'/>
                        <!-- See https://github.com/moby/moby/blob/v20.10.12/cmd/dockerd/service_windows.go#L194-L233 -->
                        <ServiceInstall
                                Arguments='--run-service --service-name [SERVICENAME] --group docker-users --experimental --host npipe:////./pipe/dockerDesktopWindowsEngine --host npipe:////./pipe/docker_engine'
                                DisplayName='Stevedore'
                                ErrorControl='normal'
                                Id='dockerd_install'
                                Name='[SERVICENAME]'
                                Start='auto'
                                Type='ownProcess'>
                            <ServiceDependency Id="EventLog"/>
                            <util:ServiceConfig
                                    FirstFailureActionType="restart"
                                    SecondFailureActionType="restart"
                                    ThirdFailureActionType="none"
                                    ResetPeriodInDays="1"
                                    RestartServiceDelayInSeconds="60"/>
                        </ServiceInstall>
                        <ServiceControl
                                Id='dockerd_start'
                                Name='[SERVICENAME]'
                                Remove='uninstall'
                                Stop='both'
                                Wait='yes'/>
                        <util:EventSource
                                Name="[SERVICENAME]"
                                Log="[SERVICENAME]"
                                EventMessageFile="[INSTALLDIR]\dockerd.exe"
                                SupportsErrors="yes"
                                SupportsInformationals="yes"
                                SupportsWarnings="yes"/>
                    </Component>

                    <Component Id='wsl_Comp' Guid='e92a7bbf-8612-4fba-923d-6724aae71f4a' Win64='$(var.Win64)'>
                        <File Source='target\$(var.Profile)\docker-wsl-proxy.exe'/>
                        <File Source='target\$(var.Profile)\stevedore.exe' KeyPath='yes'>
                            <Shortcut
                                    Id='StevedoreProgramMenuShortcut'
                                    Icon='stevedore.ico'
                                    Advertise='yes'
                                    Directory='ProgramMenuFolder'
                                    Name='Stevedore'/>
                            <Shortcut
                                    Id='StevedoreDesktopShortcut'
                                    Icon='stevedore.ico'
                                    Advertise='yes'
                                    Directory='DesktopFolder'
                                    Name='Stevedore'>
                            </Shortcut>
                        </File>
                        <File Source='target\$(var.Profile)\stevedore.tar.gz'/>
                        <RegistryValue Root='HKMU'
                                       Key='Software\Microsoft\Windows\CurrentVersion\Run'
                                       Name='Stevedore'
                                       Value='[INSTALLDIR]stevedore.exe'
                                       Type='string'/>
                    </Component>

                    <Directory Id='bin' Name='bin'>
                        <Component Id='bin_Comp' Guid="e68f9ac8-53cc-378f-8c95-589bab7d0b21" Win64='$(var.Win64)'>
                            <File Source='target\$(var.Profile)\docker\docker.exe'/>
                            <File Name="com.docker.cli.exe" Source='target\$(var.Profile)\docker\docker.exe'/>
                            <File Source='target\$(var.Profile)\docker-credential-wincred.exe'/>
                            <File Id='docker_compose_v1.exe' Name="docker-compose.exe"
                                  Source='target\$(var.Profile)\docker-compose.exe'/>
                            <File Source='target\$(var.Profile)\kubectl.exe'/>
                            <File Source='target\$(var.Profile)\unpigz.exe'/>
                            <Environment Id="PATH"
                                         Action="set"
                                         Name="PATH"
                                         Value="[INSTALLDIR]\bin"
                                         Part="last"
                                         Permanent="no"
                                         System="yes"/>
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="Docker" Name="Docker">
                    <Directory Id='cli_plugins' Name='cli-plugins'>
                        <Component Id='cli_plugins_Comp' Guid='a0307534-d554-3265-ac67-19d45951fd96'
                                   Win64='$(var.Win64)'>
                            <File Source='target\$(var.Profile)\docker\cli-plugins\docker-app.exe'/>
                            <File Source='target\$(var.Profile)\docker\cli-plugins\docker-buildx.exe'/>
                            <File Source='target\$(var.Profile)\docker-compose.exe'/>
                            <File Source='target\$(var.Profile)\docker-scan.exe'/>
                        </Component>
                    </Directory>
                </Directory>
            </Directory>

            <Directory Id='ProgramMenuFolder'>
            </Directory>

            <Directory Id='DesktopFolder'>
            </Directory>
        </Directory>

        <Feature
                Id='FeatureMain'
                Title='Stevedore'
                Description='Installs Docker CLI executables and license file.'
                ConfigurableDirectory='INSTALLDIR'
                AllowAdvertise='no'
                Display='expand'
                Absent='disallow'>

            <MergeRef Id="VCRedist"/>
            <ComponentRef Id='License'/>
            <ComponentRef Id='bin_Comp'/>
            <ComponentRef Id='cli_plugins_Comp'/>

            <Feature
                    Id='FeatureWindowsContainers'
                    Title='Windows Containers'
                    Description='Installs Windows containers support. It allows running Docker containers with process isolation.'
                    AllowAdvertise='no'
                    Display='expand'>
                <ComponentRef Id='dockerd_Comp'/>

                <Feature
                        Id='FeatureHyperV'
                        Title='Hyper-V'
                        Description='Installs Hyper-V optional Windows component. It allows running Docker containers with Hyper-V isolation.'
                        AllowAdvertise='no'
                        Display='expand'>
                    <!-- Dummy component to get rid of the "run from network" option  -->
                    <ComponentRef Id='License'/>
                </Feature>
            </Feature>

            <Feature
                    Id='FeatureLinuxContainers'
                    Title='Linux Containers'
                    Description='Installs Linux containers support. This feature requires WSL2 to work.'
                    Level='0'>
                <!-- We need WSL2 for Linux containers. As of 2022-01-09, WSL2 is only available on client Windows -->
                <Condition Level='1'>
                    <![CDATA[
                    MsiNTProductType = 1
                    ]]>
                </Condition>
                <ComponentRef Id='wsl_Comp'/>
            </Feature>
        </Feature>

        <Property Id='POWERSHELLEXE' Value='C:\Windows\sysnative\WindowsPowerShell\v1.0\powershell.exe'/>

        <SetProperty Id='CreateDockerGroup'
                     Before='CreateDockerGroup'
                     Sequence='execute'
                     Value="&quot;[POWERSHELLEXE]&quot; -Command &quot;(Get-LocalGroup -Name docker-users) -or (New-LocalGroup -Name docker-users -Description 'Users of Docker Desktop')&quot;"/>

        <CustomAction Id='CreateDockerGroup'
                      BinaryKey='WixCA'
                      DllEntry='WixQuietExec'
                      Execute='deferred'
                      Return='check'
                      Impersonate='no'/>

        <SetProperty Id='InstallContainersFeature'
                     Before='InstallContainersFeature'
                     Sequence='execute'
                     Value="&quot;[POWERSHELLEXE]&quot; -Command &quot;Enable-WindowsOptionalFeature -Online -FeatureName Containers -All -NoRestart&quot;"/>

        <CustomAction Id='InstallContainersFeature' BinaryKey='WixCA' DllEntry='WixQuietExec' Execute='deferred'
                      Return='check' Impersonate='no'/>

        <SetProperty Id='InstallHyperVFeature'
                     Before='InstallHyperVFeature'
                     Sequence='execute'
                     Value="&quot;[POWERSHELLEXE]&quot; -Command &quot;Enable-WindowsOptionalFeature -Online -FeatureName Microsoft-Hyper-V -All -NoRestart&quot;"/>

        <CustomAction Id='InstallHyperVFeature' BinaryKey='WixCA' DllEntry='WixQuietExec' Execute='deferred'
                      Return='check' Impersonate='no'/>

        <SetProperty Id='InstallWSL2Feature'
                     Before='InstallWSL2Feature'
                     Sequence='execute'
                     Value='&quot;[POWERSHELLEXE]&quot; -Command &quot;Enable-WindowsOptionalFeature -Online -FeatureName &apos;Microsoft-Windows-Subsystem-Linux;VirtualMachinePlatform&apos; -All -NoRestart&quot;'/>

        <CustomAction Id='InstallWSL2Feature' BinaryKey='WixCA' DllEntry='WixQuietExec' Execute='deferred'
                      Return='check' Impersonate='no'/>

        <!-- See https://stackoverflow.com/a/17608049 for conditions -->
        <InstallExecuteSequence>
            <Custom Action='InstallContainersFeature' Before='ConfigureUsers'>
                <![CDATA[
                (&FeatureWindowsContainers = 3) AND (NOT REMOVE)
                ]]>
            </Custom>
            <Custom Action='InstallHyperVFeature' Before='ConfigureUsers'>
                <![CDATA[
                (&FeatureHyperV = 3) AND (NOT REMOVE)
                ]]>
            </Custom>
            <Custom Action='InstallWSL2Feature' Before='ConfigureUsers'>
                <![CDATA[
                (&FeatureLinuxContainers = 3) AND (NOT REMOVE)
                ]]>
            </Custom>
            <Custom Action='CreateDockerGroup' Before='ConfigureUsers'>
                <![CDATA[
                NOT REMOVE
                ]]>
            </Custom>
            <ScheduleReboot After="InstallFinalize">
                <![CDATA[
                NOT REMOVE
                ]]>
            </ScheduleReboot>
        </InstallExecuteSequence>

        <SetProperty Id='ARPINSTALLLOCATION' Value='[INSTALLDIR]' After='CostFinalize'/>

        <Icon Id='stevedore.ico' SourceFile='resources/stevedore.ico'/>
        <Property Id='ARPPRODUCTICON' Value='stevedore.ico'/>

        <Property Id='ARPHELPLINK' Value='https://github.com/slonopotamus/stevedore'/>

        <UI>
            <UIRef Id='WixUI_FeatureTree'/>
            <ProgressText Action="InstallContainersFeature">Enabling Containers feature</ProgressText>
            <ProgressText Action="InstallHyperVFeature">Enabling Hyper-V feature</ProgressText>
            <ProgressText Action='InstallWSL2Feature'>Enabling WSL2 feature</ProgressText>
        </UI>

        <WixVariable Id='WixUILicenseRtf' Value='wix/License.rtf'/>
        <WixVariable Id='WixUIBannerBmp' Value='wix/Banner.bmp'/>
        <WixVariable Id='WixUIDialogBmp' Value='wix/Dialog.bmp'/>
    </Product>
</Wix>
