name: CI
on: [ push, pull_request ]
jobs:
  rustfmt:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: rustup
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - run: cargo fmt --all -- --check
  clippy:
    runs-on: windows-2022
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: rustup
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - run: cargo clippy --all-targets -- -D warnings
  build:
    runs-on: windows-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: rustup
        uses: dtolnay/rust-toolchain@stable
      - run: cargo install cargo-wix
      - run: cargo wix --nocapture
      - name: upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: package
          path: target/wix/*.msi
      - name: publish to gh-releases
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: target/wix/*.msi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: publish to chocolatey.org
        if: startsWith(github.ref, 'refs/tags/')
        run: .\choco-publish.ps1 ${env:GITHUB_REF} ${env:CHOCOLATEY_APIKEY}
        env:
          CHOCOLATEY_APIKEY: ${{ secrets.CHOCOLATEY_APIKEY }}
      - name: publish to WinGet
        if: startsWith(github.ref, 'refs/tags/')
        run: .\winget-publish.ps1 ${env:GITHUB_REF} ${env:GH_PERSONAL_TOKEN}
        env:
          # We cannot use GITHUB_TOKEN here because it doesn't have permission to work with winget-pkgs repository fork
          GH_PERSONAL_TOKEN: ${{ secrets.GH_PERSONAL_TOKEN }}
